.advantages-detail {
  @include list;

  margin: 0;
  padding: 24px 10px 40px 20px;
  background-color: #ffffff;

  text-align: left;
  color: #000000;
}

.advantages-detail__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages-detail__icon {
  width: 40px;
  margin-right: 10px;
  margin-bottom: 15px;

  background-repeat: no-repeat;

  &--house {
    height: 36px;

    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs {
    height: 38px;

    background-image: url("../img/icon-gift.svg");
  }

  &--food {
    height: 35px;

    background-image: url("../img/icon-burger.svg");
  }
}

.advantages-detail__title {
  @include reset;

  align-self: center;

  font-size: 16px;
  line-height: 26px;
}

.advantages-detail__description {
  @include reset;

  width: 100%;
  margin-bottom: 35px;
  padding-left: 50px;

  font-size: 14px;
  color: $main-color;

  &:last-child {
    margin-bottom: 0;
  }

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages-detail {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    padding-top: 57px;

    text-align: center;
  }

  .advantages-detail__item {
    margin-bottom: 61px;
    flex-direction: column;
    align-items: center;

    &:first-child {
      margin-bottom: 0;
      padding-top: 3px;
    }

    &:last-child {
      padding-top: 5px;
    }

    &:nth-child(2) {
      order: 1;
    }
  }

  .advantages-detail__icon {
    margin-right: 0;
    margin-bottom: 27px;

    &--house {
      width: 75px;
      height: 72px;
    }

    &--souvenirs {
      width: 64px;
      height: 75px;
    }

    &--food {
      width: 77px;
      height: 68px;
    }
  }

  .advantages-detail__title {
    margin-bottom: 20px;

    font-size: 18px;
  }

  .advantages-detail__description {
    width: 200px;
    padding: 0;

    br {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages-detail__item {
    margin-bottom: 83px;
  }

  .advantages-detail__title {
    font-size: 20px;
  }

  .advantages-detail__description {
    width: 300px;

    font-size: 13px;
  }
}
