.advantages {
  margin-bottom: 26px;

  text-align: center;
  font-size: 18px;
  line-height: 21px;

  text-transform: uppercase;
}

.advantages__intro {
  @include text-size (14px, 26px);
  @include reset;

  width: 270px;
  margin: 0 auto 25px;

  color: $main-color;
}

.advantages__list {
  @include reset;
  @include list;

  position: relative;

  background-color: rgb(238, 238, 238);
}

.advantages__item {
  margin-bottom: 14px;

  &:first-child {
    @include reset;
    padding-top: 57px;
    background-color: #81b3d2;

    color: #ffffff;
  }

  &:nth-child(2) {
    @include reset;
    margin-bottom: 27px;
    padding-top: 39px;
    background-color: #81b3d2;

    color: #ffffff;
  }

  &--gray-area {
    width: 280px;
    margin: 0 auto 26px;
    padding-bottom: 28px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-bottom: 0;

      border-bottom: none;
    }
  }
}

.advantages__title {
  @include reset;
  @include text-size (18px, 26px);

  margin: 0 auto 7px;

  br {
    display: none;
  }

  &--gray-area {
    margin-bottom: 6px;
  }
}

.advantages__serial {
  font-size: 14px;
}

.advantages__description {
  @include text-size (14px, 21px);

  width: 280px;
  margin: 0 auto;
  padding: 16px 0 39px;

  &--gray-area {
    padding-bottom: 0;
  }

  &--way {
    width: 230px;
  }

  &--last {
    width: 255px;
  }
}

.advantages__back-image {
  display: block;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .advantages__list {
    &::before {
      content: "";

      position: absolute;
      top: -18px;
      left: 0;
      width: 100%;
      height: 37px;

      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__intro {
    width: 510px;
    margin-bottom: 49px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    &:first-child {
      padding-top: 0;
      width: 100%;
    }

    &:nth-child(2) {
      margin-bottom: 0;
      padding-top: 0;
      width: 100%;
    }

    &:first-child img {
      flex-grow: 1;
    }

    &:nth-child(2) picture {
      order: -1;
      flex-grow: 1;
    }

    &--gray-area {
      width: 256px;
      margin-bottom: 0;
      padding-bottom: 11px;

      border-bottom: none;
    }
  }

  .advantages__text {
    width: 256px;
    padding-top: 46px;
  }

  .advantages__title {
    width: 160px;
    margin: 0 auto 8px;

    font-size: 21px;

    br {
      display: inline;
    }

    &--gray-area {
      width: 130px;
      margin-bottom: 7px;
    }
  }

  .advantages__description {
    padding: 22px 0 31px;
    width: 170px;

    &--gray-area {
      width: 175px;
    }

    &--way {
      width: 145px;
    }
  }

  .advantages__back-image {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__text {
    width: 400px;
    padding-top: 44px;
  }

  .advantages__back-image {
    width: 800px;
  }

  .advantages__title {
    &--gray-area {
      width: 160px;
    }

    &--last {
      width: 110px;
    }
  }

  .advantages__item {
    &:first-child,
    &:nth-child(2) {
      .advantages__title {
        padding-top: 8px;
      }
    }

    &--gray-area {
      width: 400px;
      padding-bottom: 14px;
    }

    img {
      width: 800px;
      height: 256px;
    }
  }

  .advantages__description {
    width: 290px;
    padding-bottom: 51px;

    &--gray-area {
      width: 310px;
    }

    &--way {
      width: 270px;
    }

    &--bridge {
      width: 230px;
    }
  }
}
