.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 21px;

  text-transform: $letter-type;
}

.advantages__intro {
  @include intro;

  margin-bottom: 25px;
}

.advantages__list {
  @include reset;
  @include list;
  margin-bottom: 28px;

  background-color: rgb(238, 238, 238);
}

.advantages__item {
  margin-bottom: 14px;
  padding-right: 37px;
  padding-left: 37px;

  &:first-child {
    @include reset;
    padding-top: 57px;
    background-color: #81b3d2;

    color: #ffffff;
  }

  &:nth-child(2) {
    @include reset;
    margin-bottom: 28px;
    padding-top: 37px;
    background-color: #81b3d2;

    color: #ffffff;
  }
}

.advantages__title {
  @include reset;
  @include title;

  margin-bottom: 10px;
}

.advantages__serial {
  font-size: 14px;
}

.advantages__description {
  margin: 0;
  padding: 15px 10px 42px 10px;

  font-size: 14px;
}

.advantages__back-image {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    &:first-child {
      padding-top: 0;
      width: 100%;
    }

    &:nth-child(2) {
      margin-bottom: 0;
      padding-top: 0;
      width: 100%;
    }

    &:first-child img {
      flex-grow: 1;
    }

    &:nth-child(2) img {
      order: -1;
      flex-grow: 1;
    }
  }

  .advantages__text {
    width: 256px;
    padding-top: 43px;
  }

  .advantages__title {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 21px;
  }

  .advantages__back-image {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__text {
    width: 400px;
    padding-top: 50px;
  }

  .advantages__back-image {
    width: 800px;
  }
}
