.feedback-form {
  margin-bottom: 78px;
}

.feedback-form__intro {
  @include intro;

  margin: 0;
  margin-bottom: 24px;
  padding: 0 21px 22px 23px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: $letter-type;
}

.feedback-form__fieldset {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px 0 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  text-align: left;
}

.feedback-form__hint {
  @include reset;
  margin-bottom: 25px;
  padding-top: 20px;

  text-align: center;
  font-weight: 700;
  text-transform: $letter-type;
}

.feedback-form__label {
  @include intro;
  text-transform: $letter-type;
}

.feedback-form__username {
  height: 58px;
  width: 230px;
}

.feedback-form__surname,
.feedback-form__patronymic {
  height: 58px;
  width: 192px;
}

.feedback-form__phone,
.feedback-form__email {
  height: 58px;
  width: 280px;
  margin-top: 10px;
}

.feedback-form__contacts .feedback-form__label {
  padding-left: 23px;
}

.feedback-form__label-filter {
  padding-left: 70px;
  padding-bottom: 52px;
  float: left;

  font-weight: 700;
}

.feedback-form__comment {
  width: 279px;
  height: 160px;

  font-family: $main-font;
}

.feedback-form__text {
  border-bottom: none;
}

.feedback-form__button {
  @include style-button;

  width: 280px;
  height: 58px;
  margin: 0;
  padding: 0;

  border: none;
  font-size: 21px;
  line-height: 26px;
}

.feedback-form__footnote {
  @include intro;
  display: none;

  text-transform: $letter-type;
}

@media (min-width: $tablet-width) {
  .feedback-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }

  .feedback-form__intro {
    padding: 0 135px 22px 134px;
  }

  .feedback-form__fieldset {
    border: none;

    &--full-name {
      width: 265px;
      padding: 0;
      margin-left: auto;
    }

    &--impression {
      width: 303px;
      padding: 0;
      order: -1;
    }

    &--contacts {
      width: 100%;
      padding: 0;
    }

    &--visited-places {
      width: 445px;
      margin: 0 auto;
      padding: 0;
    }

    &--text {
      width: 100%;
      padding: 0;
    }
  }

  .feedback-form__username {
    width: 216px;
  }

  .feedback-form__surname,
  .feedback-form__patronymic {
    width: 178px;
  }

  .feedback-form__phone,
  .feedback-form__email {
    width: 648px;
  }

  .feedback-form__comment {
    width: 648px;
  }

  .feedback-form__button {
    width: 324px;
  }

  .feedback-form__footnote {
    display: block;
    margin-left: auto;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__wrapper {
    width: 960px;
  }

  .feedback-form__intro {
    padding: 0 355px 22px 354px;
  }

  .feedback-form__fieldset {
    &--full-name {
      width: 400px;
    }

    &--visited-places {
      width: 100%;
    }
  }

  .feedback-form__username {
    width: 350px;
  }

  .feedback-form__surname,
  .feedback-form__patronymic {
    width: 312px;
  }

  .feedback-form__phone,
  .feedback-form__email {
    width: 315px;
  }

  .feedback-form__comment {
    width: 960px;
  }

  .feedback-form__label {
    &--desktop {
      display: none;
    }
  }

  .feedback-form__button {
    width: 480px;
  }
}
