.gallery__intro {
  @include text-size (14px, 24px);

  width: $mobile-width;
  margin: 0 auto 17px;
  padding: 0 23px 26px;
  box-sizing: border-box;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  text-transform: uppercase;
  color: $main-color;
}

.gallery__list {
  @include reset;
  @include list;

  padding-top: 5px;
  margin-bottom: 29px;

  text-align: left;
}

.gallery__item {
  padding: 0 20px 17px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 22px;
}

.gallery__photo-link {
  display: block;
  margin-bottom: 15px;

  line-height: 1px;
}

.gallery__photo-title,
.gallery__author-photo,
.gallery__like {
  @include reset;
  @include text-size (14px, 24px);

  color: $main-color;
}

.gallery__photo-title {
  text-transform: uppercase;
}

.gallery__author-photo {
  color: $main-color;
}

.gallery__like {
  position: relative;
  padding-top: 8px;
  padding-left: 37px;

  font-size: 14px;
  font-weight: 700;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    width: 22px;
    height: 20px;

    background-image: url("../img/icon-like.svg");
  }
}

@media (min-width: $tablet-width) {
  .gallery__intro {
    margin: 0 auto 69px;
    padding: 0;
    width: 440px;

    border-bottom: none;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
    margin-bottom: 63px;
    padding: 0;
  }

  .gallery__photo {
    display: block;
    width: 324px;
    height: 267px;
  }

  .gallery__item {
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;

    background-color: #f2f2f2;

    &:first-child img {
      width: 648px;
      height: 400px;
    }
  }

  .gallery__photo-link {
    margin-bottom: 5px;
  }

  .gallery__text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 17px;
  }

  .gallery__like {
    position: absolute;
    top: 19px;
    right: 24px;
    width: 65px;
    box-sizing: border-box;
    padding-top: 0;

    &::before {
      left: 4px;
    }
  }

  .gallery__photo-title {
    padding-top: 5px;
  }

  .gallery__photo-title,
  .gallery__author-photo {
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__intro {
    width: 440px;
    margin-bottom: 70px;
  }

  .gallery__list {
    width: 100%;
    margin-bottom: 67px;
  }

  .gallery__photo {
    width: 400px;
  }

  .gallery__item {
    position: relative;

    background-color: #35231b;

    &:first-child img {
      width: $desktop-content-width;
    }
  }

  .gallery__photo-link {
    margin-bottom: 0;
  }

  .gallery__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-bottom: 0;

    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }

  .gallery__photo-title {
    padding-top: 17px;

    color: #ffffff;
  }

  .gallery__author-photo {
    color: #ffffff;
  }

  .gallery__like {
    top: 30px;

    color: #ffffff;

    &::before {
      background-image: url("../img/icon-like-desktop.svg");
    }
  }
}
