.hotel-search {
  @include reset;
  margin-bottom: 48px;

  text-transform: $letter-type;
}

.hotel-search a {
  text-decoration: none;
}

.hotel-search__title {
  @include reset;
  margin-bottom: 20px;

  font-size: 18px;
}

.hotel-search__instruction {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 10px;

  font-size: 14px;
  line-height: 24px;

  color: $main-color;

  br {
    display: none;
  }
}

.hotel-search__button {
  @include style-button;

  display: inline-block;
  width: 280px;
  height: 58px;
  margin: 0;
  padding-top: 15px;
  box-sizing: border-box;

  font-size: 20px;

  &:hover {
    @include button-hover;
  }

  &:active {
    @include button-active;

    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    color: #ffffff;

    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .hotel-search {
    margin-bottom: 58px;
  }

  .hotel-search__title {
    margin-bottom: 30px;

    font-size: 26px;
  }

  .hotel-search__instruction {
    width: 520px;
    margin: 0 auto 44px;

    br {
      display: inline;
    }
  }

  .hotel-search__button {
    width: 458px;
    padding-top: 17px;

    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .hotel-search {
    margin-bottom: 66px;
  }

  .hotel-search__title {
    font-size: 28px;
  }

  .hotel-search__instruction {
    margin-bottom: 49px;
  }
}
