.hotel-search {
  @include reset;
  margin-bottom: 60px;

  text-transform: $letter-type;
}

.hotel-search a {
  text-decoration: none;
}

.hotel-search__title {
  @include reset;
  margin-bottom: 20px;
}

.hotel-search__instruction {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;

  color: $main-color;
}

.hotel-search__button {
  @include style-button;

  width: 280px;
  margin: 0;
  padding: 17px 47px 19px 47px;

  font-size: 21px;
}

@media (min-width: $tablet-width) {
  .hotel-search__title {
    font-size: 30px;
  }

  .hotel-search__instruction {
    width: 450px;
    margin: 0 auto 47px auto;
  }

  .hotel-search__button {
    padding: 17px 136px 19px 136px;
  }


}
