.hotel-search {
  @include reset;
  margin-bottom: 60px;

  text-transform: $letter-type;
}

.hotel-search a {
  text-decoration: none;
}

.hotel-search__title {
  @include reset;
  margin-bottom: 20px;

  font-size: 18px;
}

.hotel-search__instruction {
  margin: 0;
  margin-bottom: 50px;
  padding: 0 15px;

  font-size: 14px;
  line-height: 24px;

  color: $main-color;
}

.hotel-search__button {
  @include style-button;

  width: 280px;
  margin: 0;
  padding: 18px 38px 18px 44px;

  font-size: 20px;

  &:hover {
    @include button-hover;
  }

  &:active {
    @include button-active;

    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .hotel-search {
    margin-bottom: 70px;
  }

  .hotel-search__title {
    margin-bottom: 30px;

    font-size: 26px;
  }

  .hotel-search__instruction {
    width: 450px;
    margin: 0 auto 58px;
  }

  .hotel-search__button {
    padding: 18px 135px 19px;

    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .hotel-search__instruction {
    margin-bottom: 65px;
  }

  .hotel-search {
    margin-bottom: 79px;
  }
}
