.page-header {
  @include reset;

  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding-bottom: 56px;

  line-height: 40px;
  text-transform: uppercase;
}

.page-header__logo {
  position: absolute;
  bottom: -40px;
  left: 110px;
}

.page-header__logo-image {
  position: relative;
  z-index: 10;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
    width: $tablet-width;
    padding-bottom: 0;
  }

  .page-header__logo {
    top: 0;
    left: 333px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-content-width;
  }

  .page-header__logo {
    left: 505px;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}
