.page-footer {
  margin: 0;
  padding: 0 85px 23px 84px;
}

.page-footer a {
  text-decoration: none;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: $letter-type;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
}
