.page-main__back {
  @include image-back;

  height: 160px;

  background-position: bottom;
}

.page-main__back--index {
  @include image-back;

  height: 389px;
  background-position: center;
}

.page-main__back-image {
  margin-top: 51px;
}

.page-main__back-image--index {
  margin-top: 90px;
}

.page-main__header {
  @include reset;
  @include title;

  margin-bottom: 30px;
  padding-left: 32px;
  padding-right: 33px;

  font-weight: 700;
  text-transform: $letter-type;
}
