.page-footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 85px 23px 84px;
}

.page-footer a {
  text-decoration: none;
}

.page-footer__hashtag {
  margin-bottom: 36px;

  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-transform: $letter-type;
  letter-spacing: -0.8px;
}

.page-footer__social {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 645px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  .page-footer__hashtag {
    align-self: center;
    margin-bottom: 42px;
  }

  .page-footer__social {
    padding-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
  }
}
