  .page-wrapper {
    background-color: #ffffff;
}

@media (min-width: $desktop-width) {
  .page-wrapper {
    width: 1200px;
    margin: 0 auto;

    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
