.popup {
  display: none;
  width: 320px;
  height: 280px;
  padding: 42px 56px 0 57px;
  box-sizing: border-box;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  text-transform: $letter-type;

  &--success {
    height: 323px;
    padding: 0;
    padding-top: 45px;
  }
}

.popup__title {
  @include reset;
  @include title;

  margin-bottom: 27px;
}

.popup__hint {
  @include reset;
  margin-bottom: 23px;

  font-size: 14px;
  line-height: 24px;

  color: $main-color;

  &--success {
    margin-bottom: 35px;
    padding: 0 54px 0 52px;
  }
}

.popup__button {
  @include style-button;
  @include title;

  width: 180px;
  height: 58px;
  margin-bottom: 0 auto 35px;
  padding: 0;
  border: none;

  &--success {
    width: 280px;
    margin: 0 auto;
    box-sizing: content-box;

    border: 20px solid #f2f2f2;
  }

  &:hover {
    @include button-hover;
  }

  &:active {
    @include button-active;

    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .popup {
    width: 400px;
    height: 347px;
    margin: 0 auto;
    padding: 60px 62px 0 61px;

    &--success {
      width: 640px;
      padding: 0;
      padding-top: 51px;
    }
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__hint {
    &--success {
      width: 420px;
      margin: 0 auto 35px;
      padding: 0;
    }
  }

  .popup__button {
    width: 272px;
    margin-bottom: 49px;

    font-size: 21px;
    border: none;

    &--success {
      width: 458px;

      border: 44px solid #f2f2f2;
      border-left: 92px solid #f2f2f2;
      border-right: 91px solid #f2f2f2;
    }
  }
}
