.popup-success {
  @include popup;

  padding-top: 45px;
}

.popup-success__title {
  @include popup-title;
}

.popup-success__hint {
  @include popup-hint;

  margin-bottom: 35px;
  padding: 0 54px 0 52px;
}

.popup-success__button {
  @include style-button;

  padding: 19px 81px 19px 75px;
  border: 20px solid #f2f2f2;
}
