.video {
  margin-bottom: 133px;

  text-transform: $letter-type;
}

.video__title {
  @include reset;
  @include title;

  margin-bottom: 23px;
  padding-top: 7px;
}

.video__description {
  @include intro;

  margin: 0;
  margin-bottom: 35px;
  padding: 0 41px 0 43px;
}

@media (min-width: $tablet-width) {
  .video__title {
    font-size: 30px;
  }

  .video__description {
    margin-bottom: 75px;
    padding: 0 150px;
  }

  .video__back {
    width: 648px;
    height: 499px;
  }
}

@media (min-width: $desktop-width) {
  .video__back {
    width: 800px;
    height: 500px;
  }
}
