@mixin style-button {
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

@mixin image-back {
  margin-bottom: 39px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #c6d0e6;
  background-repeat: no-repeat;
}

$main-color: #333333;

@mixin intro {
  font-size: 14px;
  line-height: 26px;
  color: $main-color;
;
}

@mixin title {
  font-size: 18px;
  line-height: 26px;
}

@mixin reset {
  margin: 0;
  padding: 0;
}
