.page-footer {
  margin: 0;
  padding: 0px 85px 23px 84px;
}

.page-footer a {
  text-decoration: none;
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.copyright__text {
  font-size: 14px;
}
