.video {
  margin-bottom: 133px;
}

.video__title {
  @include reset;
  margin-bottom: 23px;
  padding-top: 7px;

  @include title;
}

.video__description {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 41px 0 43px;

  @include intro;
}
